<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EricProgressHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07C0A22C1DD4672A00EFE7AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07C0A2451DD4672A00EFE7AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07C0A2501DD4672A00EFE7AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
